<div class="card">
    <h3 class="card-header">
        <%= @email.object %>
        <div class="btn float-right" id="close-show">Close</div>
    </h3>
    <div class="card-body">
        <p class="card-text">
            <%= @email.body %>
            <div>
                <%= link_to "Delete", email_path(@email.id), method: :delete, :class => "btn btn-outline-primary float-right", remote: true %>
            </div>
        </p>
    </div>
</div>