<div class="card">
    <h3 class="card-header">
        <%= @email.object %>
        <button id="close-show" type="button" class="close" aria-label="Close" aria-hidden="true">&times;</button>
    </h3>
    <div class="card-body">
        <p class="card-text">
            <%= @email.body %>
            <div>
                <%= link_to "Delete", email_path(@email.id), method: :delete, :class => "btn btn-outline-primary float-right", remote: true %>
            </div>
        </p>
    </div>
</div>