<div class="container">
    <h1 class="text-center col-4">Email list </h1>
    <div class="row">
        <div class="col-4">
            <div id="mail-list">
               <%= render 'emails_list' %>
            </div>
        </div>

        <div class="col-5">
            <div id="show-mail">
                <%# <%= render 'emails_show' %>
            </div>
        </div>
    </div>
</div>